attrs==22.2.0
beautifulsoup4==4.11.1
certifi==2022.12.7
chardet==5.1.0
html2text==2020.1.16
idna==3.4
iniconfig==2.0.0
packaging==22.0
pluggy==1.0.0
py==1.10.0
pyparsing==3.0.9
pytest==7.2.0
requests==2.28.1
robobrowser==0.5.3
six==1.16.0
soupsieve==2.3.2.post1
toml==0.10.2
urllib3==1.26.13
Werkzeug==0.16.1
lxml==4.9.2

setuptools~=65.6.3
responses~=0.22.0